{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "arrow-parens": ["error", "always"],
    "object-curly-newline": ["error", { "ObjectPattern": { "minProperties": 4 } }],
    "brace-style": ["error", "stroustrup"],
    "max-len": ["warn", 120, 2, { "ignoreComments": true }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "import/no-named-default": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "./config/webpack.base.config.babel.js"
      }
    }
  }
}
